asgiref==3.12.1
dj-database-url==3.1.2
Django==5.2.17
gunicorn==26.2.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.3
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
